################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CourseWork.slnx/FileContentIndex/4bd85b1d-216f-4e32-94a1-5fc0916cc60f.vsidx
