################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CourseWork.slnx/FileContentIndex/4bd85b1d-216f-4e32-94a1-5fc0916cc60f.vsidx
/.vs/CourseWork.slnx/FileContentIndex/04e624be-2eec-45fd-8191-23900e26ec4b.vsidx
/.vs/CourseWork.slnx/FileContentIndex/1b8c72be-584a-4b62-bf2b-919cd551a705.vsidx
