################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CourseWork.slnx/FileContentIndex/4bd85b1d-216f-4e32-94a1-5fc0916cc60f.vsidx
/.vs/CourseWork.slnx/FileContentIndex/04e624be-2eec-45fd-8191-23900e26ec4b.vsidx
/.vs/CourseWork.slnx/FileContentIndex/1b8c72be-584a-4b62-bf2b-919cd551a705.vsidx
/.vs/CourseWork.slnx/FileContentIndex/797b614a-1d5a-4cba-8768-28140be5a7e0.vsidx
/.vs/CourseWork.slnx/FileContentIndex/c7c4a405-0235-4de7-a65b-e1a15058acc3.vsidx
/.vs/CourseWork.slnx/FileContentIndex/ca2cb5fd-94dd-46bb-a4be-9c4aa62d66de.vsidx
/.vs/CourseWork.slnx/FileContentIndex/d9103a95-7b7e-4aad-b573-ceec48c7b275.vsidx
